body{
    margin: 0;
    padding: 0;
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat" sans-serif;
}

.loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid red;
    position: relative;
    animation: a1 2s linear infinite;
}

.loading::before, .loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before{
    border-top: 10px solid orange;
    transform: rotate(120deg);
}

.loading::after{
    border-top: 10px solid limegreen ;
    transform: rotate(240deg);
}

.loading span{
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
    position: absolute;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
       transform: rotate(-360deg); 
    }
}